body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

h1{
        font-family: "Lobster", sans-serif;
        font-size: 60px;
        text-align: center;
        font-style: normal;
        letter-spacing: 9px;
        color: rgb(180, 212, 255);
}

.note-container:nth-child(n+2) {
    border-top: 8px solid #eeeff3;
}